*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #A0DDE6;
}

.container{
    background-color: #80C2AF;
    padding: 2rem;
    border-radius: 1rem;
    min-height: 45vh;
    width: 40vh;
    box-shadow: 0 0 2rem black;
}

form{
    margin: 2rem 0 1rem 0;
}

form select, button, input{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
}

form input{
    border: 1px solid black;
    font-size: 1rem;
    height: 3rem;
    padding-left: 0.5rem;
}

.dropdown{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
}

.select-container img{
    max-width: 2rem;
}

.select-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6rem;
    border-radius: 0.5rem;
    border: 1px solid black;
}

.select-container select{
    font-size: 1rem;
    width: auto;
}

.msg{
    margin: 2rem 0 2rem 0;
}

form button{
    height: 3rem;
    font-size: 1.15rem;
    background-color: #5C946E;
    color: black;
    cursor: pointer;
}